

table {
	margin: 10px auto;
	border: 1px solid #555;
    box-shadow: 0 0 10px grey;
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: blue;
	font-size: .85rem;
}

tr:first-child th, .highlight2 {
	background-color: black;
	color: white;
}

.highlight {
    background-color: red;

}

th, td {
	padding: 7px 15px;
	border: 1px solid #555;
}

th {
	background-color: white;
	font-size: larger;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: #555;
	color: white;
}
