body {
    margin: 0 auto;
    background-color: rgba(124, 100, 100, 0.842);
    max-width: 402px;
    text-align: center;
}

header {
    padding: 100px 0 100px 0;
}

main img[data-src] {
    filter: blur(5px);
    opacity: 5%;
    transform: translateX(20rem);
}

main img {
    filter: blur(0px);
    transition: all 0.8s;
    opacity: 100%;
    transform: translateX(0rem);
}