
#content {
    max-width: 600px;
    margin: 0 auto;
}

header {
    background-color: green;
    display: grid;
    grid-template-columns: 250px auto;
    border-radius: 20px;
    justify-content: space-around;
    width: 700px;
    height: 150px;
}
#my_image {
    margin-left: 20px;
}
			

.image {
    border-radius: 20px;
    height: 150px;
    margin-top: 5px;
    box-shadow: 0 0 10px 0 #50524d;
}

h1 {
    box-shadow: 0 0 50px 0 #50524d;
    max-height: 30px;
    border-radius: 5px;
}

.home_title {
    opacity: .8;
    
}
.les_2 {
    display: grid;
    grid-template-columns: 250px auto;
}
.icon {
    width: 20px;
}
h3 {
    margin-left: -220px;
    margin-top: -2px;
}

a {
    margin-left: 120px;
    margin-top: -40px;
}

p {
    font-style: italic;
}

footer {
    background-color: green;
    text-align: center;
    height: 100px;
    border-radius: 20px;
}