@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
header {
    background-color: #caa36f;
    max-width: 100%;
}



#hero {
    display: flex;
}

#heromsg {
    display: flex;
}

#hero_box {
    display: flex;
    justify-content: space-between;
}

#hero_img {
    width: 120px;
    height: 100px;
}

h1 {
    font-size: 20px;
    font-family: 'Roboto';
}

h2 {
    font-size: 12px;
    font-family: 'Open Sans';
    font-style: italic;
    margin-top: -10px;
}

h3 {
    font-size: 10px;
    font-family: 'Open Sans';
    max-width: 200px;
    text-align: center;
    border: 1px solid #6f7364;
    margin: 0 auto;
    padding: 0;
}

#socials {
    display: flex;
}



.socs {
    width: 25px;
    margin-top: -13px;
    margin-left: -15px;
}

#socs {
    width: 53px;
    margin-top: -50px;
}

nav button {
    background: transparent;
    border: none;
    font-size: 20px;
    margin: .2rem;
    margin-top: 20px;
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul.open {
    display: block;
    margin-left: -200px;
    flex-direction: column;
    margin-top: 50px;
}

nav ul li a {
    text-align: center;
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul li a.active {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#container {
    display: grid;
    grid-template-rows: 1fr;
}
#rectangles {
    grid-row: 1/2;
    max-width: 100%;
    margin: 0;
    height: 700px;
    justify-content: center;
}

.rectangle1 {
    position: relative;
    height: 200px;
    font-family: helvetica;
    padding-left: 20px;
    width: 500px;
    gap: 20px;
}
.rectangle1 p  {
    position: absolute;
    font-family: "Rock Salt";
    font-weight: 1000;
    font-size: 30px;
    color: #caa36f;
}

.rectangle1 a {
    position: absolute;
    width: 170px;
    height: 30px;
    top: 360px;
    right: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    background-color: #f0c591;
    color: black;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
}

.rectangle1 img {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 500px;
    height: 400px;
}

.rectangle2 {
    border: 1px solid #6f7364;
    width: 500px;
    padding-top: 5px;
    font-size: .82em;
    height: 200px;
    font-family: helvetica;
    background-color: #caa36f;
    margin-top: 300px;
    text-align: center;
}

.rectangle1 p{
    font-size: 1.5rem;
    font-family: "Open Sans";
}

#s1_2 {
    padding-top: 20px;
    gap: 15px;
}

.square1 {
    grid-row: 2/3;
    max-width: 500px;
    border: 1px solid #6f7364;
    height: 200px;
    font-family: helvetica;
    text-align: center;
    font-style: italic;
    color: #6f7364;
    background-color: #caa36f;
    margin-top: 10px;
}

.square1 h3 {
    border: none;
    font-style: normal;
    font-family: helvetica;
    font-weight: 800;
    font-size: 1.2rem;
    width: 300px;
    margin-top: 20px;
    color: black;
}

.square1 h4 {
    text-align: center;
    font-style: normal;
    font-size: 1.5rem;
    margin-top: -2px;
    color: black;
}

.square1 p {
    color: black;
    font-style: normal;
    font-size: 0.8rem;
}

.square2 {
    grid-row: 3/4;
    border: 1px solid #6f7364;
    height: 200px;
    max-width: 350px;
    margin: 0 auto;
    font-family: helvetica;
    color: black;
    background-color: #caa36f;
    margin-top: 10px;
}

.weather {
    display: block;
}

.w_img, .wc {
    display: flex;
    justify-content: space-around;
}

.w_img img {
    width: 60px;
}

.pp {
    text-align: center;
}

.square3 {
    display: none;
}



#square_4 {
    grid-row: 5/7;
    border: 1px solid #6f7364;
    max-width: 500px;
    height: 700px;
    font-family: helvetica;
    font-style: italic;
    justify-content: center;
    background-color: #caa36f;
    margin-top: 10px;
}

.box {
    border: 1px solid #6f7364;
    width: 450px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 20px;
    color: black;
    text-align: center;
    font-style: normal;
}

#ch {
    margin-top: -100px;
}

.poof {
    border: 1px solid #6f7364;
    width: 450px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 20px;
    color: black;
    text-align: center;
    font-style: normal;
}

.poof img {
    width: 100px;
}

.box img {
    width: 50px;
}

footer {
    background-color: #caa36f;
}

#first_half {
    display: block;
    align-self: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #6f7364;
    margin-top: 20px;
}

footer img {
    margin: 0 auto;
    width: 200px;
}

#second_half {
    text-align: center;
}

/*DISCOVER PAGE*/


#intro {
    text-align: center;
}

.noview{
    opacity: 10%;
    filter: blur(20px);
    transform: translateY(10rem);
    transition: all 0.5s;
}   
.view{
    opacity: 100%;
    filter: blur(0px);
    transform: translateY(0rem);
}


#gallery {
    max-width: 500px;
    padding: 0px 0px 0px 0px;
}

.images p{
    font-size: 1.2rem;
    text-align: left;
    max-width: 500px;
}

.visits{
    text-align: center;
    font-size: 1.5rem;
}

/*-----------JOIN PAGE-----------*/

.top_msg {
    max-width: 100%;
    text-align: center;
}

.top_msg p{
    text-align: left;
}
form fieldset {
    margin: 2rem;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 .1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #caa36f;
    font-size: .8rem;
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 0.75rem;
    color: #555;
    width: 80%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #caa36f;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-bottom: #caa36f solid 6px;
}

table {
    max-width: 15rem;
    margin: 0 auto;  
}

th {
    font-family:'Bree Serif', serif;
    font-size: .7rem;
    letter-spacing: 1px;
}

td {
    font-family:'Bree Serif', serif;
    font-size: .5rem;
    letter-spacing: 1px;
}


tr:nth-child(even) {
    background-color: #caa36f;
    color: #EBE7DE;
}

tr:nth-child(odd) {
    border: none;
}

#join_table {
    margin: 0 auto;
}

#join_table .header, .jointable .title {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

#join_table .header {
    text-align: center;
    font-size: 1.1rem;
    background-color: #B58F40;
    border: none;
    color:#EBE7DE;
    letter-spacing: 2px;
}

#join_table .title {
    text-align: center;
    font-size: .7rem;
    border: none;
    background-color: #caa36f;
    color: #EBE7DE;
    letter-spacing: 2px;
}

table, th, td {
    border-collapse: collapse;
    padding: 4px;
    text-align: center;
}

#bd textarea {
    border-bottom: #caa36f solid 6px;
    padding: 0.75rem;
    width: 250px;
    max-width: 300px;
    border-radius: 5px;
}
#bd {
    padding-bottom: 10px;
    padding-left: 10%;
    display: block;
}

form {
    border: 1px solid #555;
    justify-content: center;
    width: 350px;
    max-width: 400px;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 0 0 4px grey;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*--------DIRECTORY------*/

main div.directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    text-align: center;
}

.dc {
    text-align: center;
}

#grid, #list {
    margin-bottom: 20px;
    background-color: #caa36f;
}

.directory img {
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
}

.directory section {
    box-shadow: 0 0 10px grey;
    max-width: 350px;
    margin: 0 auto;
}

.directory a {
    text-decoration: none;
    font-size: 1.1rem;
}

.directory h2 {
    font-style: normal;
    font-size: 1.1rem;
    margin-top: 20px;
}

.directory p {
    font-size: 1rem;
}

.list {
	display: block;
	flex-direction: column;
}

.list section {
	margin: 0 auto;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #1315168e;
}