@media screen and (min-width: 32.5em) {
    #content {
        margin: 0 auto;
    }
    #hamburgerBtn {
        padding-right: 50px;
    }
    header {
        max-width: 100%;
    }
    #hero_box {
        justify-content: space-between;
    }
    #hero_img {
        margin: 0 auto;
    }
    #heromsg {
        text-align: left;
        font-size: 20px;
    }
    h3 {
        height: 20px;
        max-width: 600px;
    }

    .date {
        font-size: 15px;
    }

    #container {
        grid-gap: 10px;
    }
    .square3 {
        grid-row: 3/4;
    }
    
    #s1_2 {
        grid-row: 4/5;
        display: flex;
    }

    .square1 {
        width: 500px;
    }

    .square2 {
        width: 400px;
        text-align: center;
    }

    .weather, .wc {
        margin-top: -15px;
    }

    #square_4 {
        grid-row: 3/3;
        max-width: 900px;
        display: flex;
        height: 250px;
        text-align: center;
    }

    .box {
        width: 435px;
        height: 220px;
    }

    .poof {
        display: none;
    }

    .rectangles {
        justify-content: center;
    }

    .rectangle1 {
        width: 900px;
    }

    .rectangle1 img {
        width: 900px;
        height: 480px;
    }

    .rectangle1 a {
        right: 30px;
    }

    .rectangle2 {
        width: 900px;
        font-size: 1rem;   
    }

    #first_half {
        display: flex;
        justify-content: space-between;
    }

    footer {
        max-width: 100%;
    }

    .fhfh {
        display: flex;
    }

    .fhfhsh {
        text-align: left;
    }

    .fh_logo {
        max-width: 100px;
        margin: 0 auto;
    }

    p {
        margin-top: 20px;
        padding-right: 50px;
    }

    /*Discover Page*/

    #gallery {
        max-width: 800px;
        text-align: center;
        padding: 0px 50px 0px 50px;
    }

    .images p {
        font-size: 1.5rem;
    }
    /*-----------JOIN PAGE-----------*/

    .top_msg {
        max-width: 36rem;
        text-align: center;
        margin: 0 auto;
        padding-left: 30px;
    }
    .top_msg p {
        font-size: 1.1rem;
    }

    form {
        max-width: 36rem;
        justify-content: center;
        width: 34rem;
        margin: 0 auto;
    }

    table {
        max-width: 30rem;
        height: 25rem;
        margin: 0 auto;  
    }

    th {
        font-family:'Bree Serif', serif;
        font-size: 1rem;
        letter-spacing: 1px;
    }
    
    td {
        font-family:'Bree Serif', serif;
        font-size:  0.9rem;
        letter-spacing: 1px;
    }

    fieldset {
        width: 28rem;
    }

    form label.top, form div {
        font-size: 1rem;
    }


    form label.top input {
        width: 90%;
        max-width: 25rem;
    }

    #bd textarea {
        padding: 3.5rem;
    }
    #bd {
        padding-left: 6%;
    }

    form input.submitBtn {
        margin: 0 0 2rem 20%;
    }
}

/*------DIRECTORY-----*/

