#content {
    max-width: 600px;
    padding-top: 150px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 1000;
}

main {
    margin: 0.5rem auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    background-color: #bed;
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
}

input,
button {
    padding: 0.35rem;
    margin-left: 1rem;
    font-size: 1.1rem;
}

input {
    max-width: 600px;
}

h1 {
    font-size: 20px;
}

#listcontainer {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
}

#list {
    margin: 0.2rem;
}

ul {
    margin: 1rem;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.copy {
    text-align: center;
    margin: 0 auto;
}

@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2rem;
    }

    main {
        width: 480px;
    }
}